/* Убираем внутренние отступы */
ul,
ol[class],
li {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
/* убираем отступы у картинок снизу */
img {
  max-width: 100%;
  display: block;
}
/*подключение шрифтов,бэкграунд,цвет абзацев*/
body {
  background-color: var(--white);
  color: var(--secondary-text-color);
  font-family: Roboto, Raleway;
}
/* контейнер */
.container {
  width: 1200px;
  margin:0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

/*цвет основного  черного текста color: #212121
цвет вторичного черного текста color: #757575
задний фон основной темный     background: #2F303A
белый h1, шапка, studio-logo-footer background: #FFFFFF 
белый основной background: #F5F5F5
белый вторичный background: #F5F4FA
акцент web-logo background: #2196F3
studio-logo-header #000000
*/
:root {
  --white: #ffffff;
  --black: #000000;
  --accent: #2196f3;
  --background-white: #f5f5f5;
  --secondary-background-white: #f5f4fa;
  --hero-footer-background: #2f303a;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
}
/* шапка */

/*logo*/
.logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent);
  margin-right: 93px;
}
.logo-header {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--black);
}

/* убираем точки в списке */
ul[class],
ol[class],
li {
  list-style: none;
}

/* Отменяем подчеркивание у ссылки */
a {
  text-decoration: none;
}

/*---навигация---*/
.header-container {
  display: flex;
  align-items: center;
}

.nav-link {
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: calc(16 / 12);
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
}
/* .nav-item {
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
} */

/* .nav-list li { 
  padding-top: 30px;
  padding-bottom: 30px;
}*/

.nav-link:hover,
.nav-link:focus {
  color: var(--accent);
}

.nav-list .nav-link.curent {
  color: var(--accent);
}

.header-group {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-left: auto;
}

.info {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.tel {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--secondary-text-color);
}

.info:hover,
.info:focus {
  color: var(--accent);
}
.tel:hover,
.tel:focus {
  color: var(--accent);
}
.nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
  /* margin-right: auto; */
  margin-top: 0px;
  margin-bottom: 0px;
}

.header {
  border-bottom: 1px solid #ececec;
  max-width: 1600px;
  margin:0 auto;
}

/* ------line------- */
/* .line { 
  display: block;
  width: 1600px;
  border: 1px solid #ececec;
}*/

/*--hero--*/
.post-title {
  max-width: 696px;
  align-items: center;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  margin-bottom: 30px;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white);
}
.hero {
  text-align: center;
  
  
  background-image: linear-gradient(rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4););
  background-color: #c4c4c4;
  background-image: url(../img/hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  padding-top: 200px;
  padding-bottom: 200px;
  padding-left: 452px;
  padding-right: 452px;
  max-width: 1600px;
  margin:0 auto;
  
}

/*---кнопка---*/
.hero-button {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);

  display: inline-block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  /* margin-bottom: 200px; */

  color: var(--white);
  border: none;
  background-color: var(--accent);
  cursor: pointer;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--primary-text-color);
}
/*---особливости---*/

.peculiarities {
  padding-top: 94px;
}

.list {
  display: flex;
  gap: 30px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.list-item {
  /* padding-bottom: 94px; */
}
.section-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;

  color: var(--primary-text-color);
}
.section-title-item {
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*--фото чим ми займаэмося та бригада--*/
.team {
  background-color: var(--secondary-background-white);
  max-width: 1600px;
  margin:0 auto;
}
.cards-team {
  background: var(--white);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  /* padding-bottom: 94px; */
}

.section {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);

  /* padding-top: 94px; */
  margin-bottom: 50px;
}
.section-unit-work {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
  /* margin-bottom: 30px; */
}
.section-unit {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
  /* margin-top: 30px; */
  margin-bottom: 10px;
}

.about-unit {
  padding: 30px 0;
}

/*----footer----*/

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--hero-footer-background);
  max-width: 1600px;
  margin:0 auto;
}

.footer-items {
  margin: 0;
}

.footer-logo {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--accent);
  /* padding-top: 60px; */
  margin-bottom: 20px;
  display: block;
}
.logo-footer {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--white);
}

.info-tel-ad {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;
  color: var(--white);
  /* margin-bottom: 9px; */
  display: block;
}
.info-tel-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  /* margin-bottom: 9px; */
  display: block;
}

.info-footer {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: calc(24 / 14);
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  /* padding-bottom: 60px; */
  display: block;
}

.footer ul li:not(:last-child) {
  margin-bottom: 9px;
}

.info-tel-ad:hover,
.info-tel-ad:focus,
.info-tel-footer:hover,
.info-tel-footer:focus,
.info-footer:focus,
.info-footer:hover {
  color: var(--accent);
}

/*---------------------------------------------------------------------*/
/*portfolio.html*/

.sect {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-filters {
  display: flex;
  justify-content: center;
  gap: 8px;
  /* padding-top: 94px; */
  margin-bottom: 50px;
  margin-top: 0px;
}

.list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0px;
  /* padding-bottom: 94px; */
}

/*button*/
.portfolio-btn {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background: #eeeeee;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 5.88px 22px;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--white);
  background-color: var(--accent);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.cards {
  background-color: #ffffff;
  width: 370px;
  height: 404px;
}

.about-portfolio {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  background-color: var(--white);
}

.cards:hover,
.cards:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.example {
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}
.example-item {
  font-weight: 400;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  /* margin-left: 24px; */
  /* margin-top: 4px; */
  /* padding-bottom: 20px; */
}
